<div>
  <label for="new-project">Project name: </label>
  <input id="new-project" #projectName />

  <button type="button" class="add-button" (click)="add(projectName.value); projectName.value=''">
    Add project
  </button>
</div>

<h2>Projects</h2>
<ul class="projects">
  <li *ngFor="let project of projects">
    <button [class.selected]="project.id == selectedProject?.id" type="button" (click)="onSelect(project)">
      <span class="badge">{{project.id}}</span>
      <span class="name">{{project.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedProject">
  <button type="button" class="delete-button" (click)="delete(selectedProject)">Delete {{selectedProject.name}}</button>
</div>


<app-project-detail [project]="selectedProject"></app-project-detail>