<h2>My Projects</h2>
<ul class="projects">
  <li *ngFor="let project of projects">
    <button [class.selected]="project === selectedProject" type="button" (click)="onSelect(project)">
      <span class="badge">{{project.id}}</span>
      <span class="name">{{project.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedProject">
  <button type="button" title="delete project" (click)="delete(selectedProject)">Delete {{selectedProject.name}}</button>
</div>


<app-project-detail [project]="selectedProject"></app-project-detail>